@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

body {
    margin: 0px;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #b0142a;
}

a {
    color: #b0142a;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

h3 + p {
    margin: 15px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header__ul {
    display: flex;
    gap: 30px;
}

.header {
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #b0142a;
    padding: 15px 0px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header__nav a {
    color: #555555;
    transition: color 0.3s ease;
}

.header__nav a:hover {
    color: #b0142a;
}

.header__actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #555555;
    transition: color 0.3s ease;
}

.language:hover {
    color:#b0142a;
}

.language.active {
    border-bottom: 2px solid #b0142a;
}

.button__svg {
    cursor: pointer;
    border: none;
    color: #555555;
    width: 40px;
    height: 40px;
    
    display: flex;
    align-items: center;      
    justify-content: center;
    background: none;
    padding: 0;
    margin: 0 4px 0px;
    border-radius: 50%; 
    transition: color 0.3s ease;  
}

.button__svg.menu {
    display: none;
}

.button__svg.phone {
    display: none;
}

.button__svg:hover {
    color: #b0142a
}

.header__left__logo {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-tag {
    font-size: 30px;
}

.logo {
    height: 45px;
}

/* WELCOME */

.main .welcome {
    display: flex;
    background-color: #FFFAF6;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding-top: 235px;
    padding-bottom: 160px;
}

.welcome-name {
    margin-top: 3px;
    font-size: 70px;
}

.container-welcome-text {
    padding: 15px;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-text {
    padding: 15px;
    color: #555555;
}

.container-welcome-text .btn {
    display: block;
    margin: 30px auto 0;
}

/* BUTTON */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

    color: white;
    background: #b0142a;

    width: 165px;
    height: 45px;
    border-radius: 9px;
    transition: opacity 0.3s;

    font-family: "GFS Didot", serif;
    font-style: normal;
    cursor: pointer;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

/* GRID */

.grid__cards__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;

    font-size: 33px;
    font-weight: 600;
}

.grid__cards__title::after {
    content: "";
    position: absolute;
    left: 50%; 
    bottom: -12px;   
    transform: translateX(-50%); 
    width: 70px;
    height: 2px;
    background-color: #b0142a;
    border-radius: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 40px;
}

.grid-cheese-items {
    padding: 120px 0;
}

.grid-item {
    display: flex;
    flex-direction: column;

    text-align: center;
    background: white;
    color: #b0142a;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #eee
}

.grid-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.grid-item-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
}

.card-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.grid-item-p {
    font-size: 20px;
    color: #555555;
}

.grid-item-name {
    padding-top: 15px;
    font-size: 28px;
}

.price {
    font-weight: 500;
}

.card-bottom .btn {
    margin-bottom: 10px;
}

.cheese-photo {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

/* FOOTER */

.footer {
    padding-top: 80px;
    background-color: #2C2C2C;
    color: white;
}

.footer a {
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #b0142a;
}

.footer__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 80px;
    padding-bottom: 0px;
    border-bottom: 1px solid #555555;
}

.footer-description {
    max-width: 360px;
}

.footer-ul {
    display: grid;
    grid-auto-flow: column;
    font-weight: bold;
    gap: 80px;
}

.footer-first-list {
    color: white;
}

.footer-link {
    color: white;
}
.footer__tag-name {
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-family: "GFS Didot", serif;
    font-size: 18px;
    font-weight: bold;
    cursor: default;
}

.inner-footer-ul {
    font-weight: 400;
    padding-top: 8px;
}

.inner-footer-li {
    padding: 8px 0;
}

.rights {
    min-height: 120px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-img {
    width: auto;
    height: 25px;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 8px;
}

.footer-img-logo {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    padding-top: 20px;
}

.footer-last-style {
}

.bottom__nav__container {
    
}

.bottom__nav {
    z-index: 999;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: solid #b0142a 1px;
}

.bottom__nav__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
}

@media (max-width: 1090px){
    .main-tag {
        display: none;
    }

    .container-welcome-text {
        max-width: 600px;
    }
    .container-welcome-text h2 {
        font-size: 44px;
    }
    
    .welcome-text {
        font-size: 24px;
    }
    /* FOOTER TABLET ADAPTIVCHIK */

    .footer__inner {
        gap: 10px;
    }
    
    .inner-footer-li {
        font-size: 18px;
    }
    
    .footer-description-text {
        font-size: 18px;
    }

    .footer-description-name {
        font-size: 24px;
    }
    
    .footer-link {
        font-size: 18px;
    }

    .footer-last-style {
        font-size: 22px
    }

    .bottom__nav {
        display: block;
    }
}

@media (max-width: 910px) {

    .button__svg.menu {
        display: flex;
    }

    .button__svg.phone {
        display: flex;
    }

    .header__svg:not(.menu, .phone) {
        display: none;
    }

    .language {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer {
        padding-bottom: 65px;
    }

    .bottom__nav {
        display: block;
    }
}

/* FOOTER PHONE ADAPTIVHICK */

@media (max-width: 700px) {
    .main .welcome {
    padding-top: 215px;
    padding-bottom: 140px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .footer__inner {
        display: block;
    }

    .footer-ul {
        display: block;
        gap: 0;
    }

    .footer-first-list {
        border-top: 1px solid #555555;
    }

    .footer-first-list:last-child {
        border-bottom: 1px solid #555555;
    }

    .footer-description {
        max-width: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .footer-description-name {
        display: block;
        
        justify-content: center;
    }
    
    .footer-description-text {
        max-width: 320px;
        margin: 0px auto;
    }

    .footer-img-logo {
        max-width: 380px;
    }
    .footer__tag-name {
        display: block;
        width: 100%;
        padding: 18px 0;
        cursor: pointer;
        text-align: left;
        font-size: 20px;
    }
    .inner-footer-ul {
        display: none;
        padding-top: 0;
        padding-bottom: 15px;
    }
    .footer-first-list.active .inner-footer-ul {
        display: block;
    }
}
/* РАЗГРУЗКА */
@media(max-width: 379px){
    .footer-img-logo {
        display: none;
    }
}